body{
    background-color: rgb(11, 105, 105);
}
#qabxii_barata{
    box-sizing: content-box;
    font-size:large;
    border-width: 0dvi;
    border-inline-start-width: 0cqi;
    font-family: 'Times New Roman', Times, serif;
    flex-basis: content;
    size: 45;
    border-style: groove;
    size-adjust: 88;
    font: display 9px;
}
.form{
    background-color: rgb(40, 161, 161);
}

